/* Couleurs personnalisées basées sur Radix UI */

/* Light Theme */

:root, .light, .light-theme {
  --blue-1: #f8feff;
  --blue-2: #f0faff;
  --blue-3: #ddf6ff;
  --blue-4: #caefff;
  --blue-5: #b4e6ff;
  --blue-6: #9bd9ff;
  --blue-7: #7ac9ff;
  --blue-8: #4bb1f5;
  --blue-9: #004970;
  --blue-10: #1b5a82;
  --blue-11: #0072b1;
  --blue-12: #003f65;

  --blue-a1: #00dbff07;
  --blue-a2: #00aaff0f;
  --blue-a3: #00bcff22;
  --blue-a4: #00b3ff35;
  --blue-a5: #01abff4b;
  --blue-a6: #009fff64;
  --blue-a7: #0098ff85;
  --blue-a8: #0091f1b4;
  --blue-a9: #004970;
  --blue-a10: #004773e4;
  --blue-a11: #0072b1;
  --blue-a12: #003f65;

  --blue-contrast: #fff;
  --blue-surface: #ecf9ffcc;
  --blue-indicator: #004970;
  --blue-track: #004970;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --blue-1: oklch(99.3% 0.0082 241.3);
      --blue-2: oklch(98% 0.0154 241.3);
      --blue-3: oklch(96.1% 0.0369 241.3);
      --blue-4: oklch(93.6% 0.0555 241.3);
      --blue-5: oklch(90.3% 0.0727 241.3);
      --blue-6: oklch(86.1% 0.0903 241.3);
      --blue-7: oklch(80.6% 0.1124 241.3);
      --blue-8: oklch(73% 0.1362 241.3);
      --blue-9: oklch(38.8% 0.0908 241.3);
      --blue-10: oklch(44.9% 0.0908 241.3);
      --blue-11: oklch(52.7% 0.1362 241.3);
      --blue-12: oklch(35% 0.0908 241.3);

      --blue-a1: color(display-p3 0.0235 0.8392 1 / 0.024);
      --blue-a2: color(display-p3 0.0039 0.6157 0.9255 / 0.051);
      --blue-a3: color(display-p3 0.0039 0.6588 0.9686 / 0.114);
      --blue-a4: color(display-p3 0.0039 0.6353 0.9569 / 0.181);
      --blue-a5: color(display-p3 0.0039 0.6039 0.9569 / 0.255);
      --blue-a6: color(display-p3 0.0039 0.5412 0.9569 / 0.342);
      --blue-a7: color(display-p3 0.0039 0.5137 0.9569 / 0.451);
      --blue-a8: color(display-p3 0 0.4745 0.8941 / 0.597);
      --blue-a9: color(display-p3 0 0.1922 0.3569 / 0.891);
      --blue-a10: color(display-p3 0 0.2078 0.3882 / 0.82);
      --blue-a11: color(display-p3 0 0.3098 0.6 / 0.812);
      --blue-a12: color(display-p3 0 0.1686 0.3216 / 0.91);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.9373 0.9765 1 / 0.8);
      --blue-indicator: oklch(38.8% 0.0908 241.3);
      --blue-track: oklch(38.8% 0.0908 241.3);
    }
  }
}

:root, .light, .light-theme {
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(99.1% 0.0015 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.0045 277.7);
      --gray-4: oklch(93.1% 0.0061 277.7);
      --gray-5: oklch(91% 0.0077 277.7);
      --gray-6: oklch(88.8% 0.0093 277.7);
      --gray-7: oklch(85.3% 0.0117 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.0165 277.7);
      --gray-10: oklch(61% 0.0161 277.7);
      --gray-11: oklch(50.3% 0.0139 277.7);
      --gray-12: oklch(24.1% 0.0099 277.7);

      --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
      --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
      --gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
      --gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
      --gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
      --gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
      --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0165 277.7);
      --gray-track: oklch(64.6% 0.0165 277.7);
    }
  }
}

:root, .light, .light-theme {
  --green-1: #fbfefb;
  --green-2: #f4fbf4;
  --green-3: #e9f7e9;
  --green-4: #d9f2d9;
  --green-5: #c6eac6;
  --green-6: #b0dfb0;
  --green-7: #92d192;
  --green-8: #6ac06a;
  --green-9: #46a746;
  --green-10: #3d913d;
  --green-11: #2f7c2f;
  --green-12: #1d4a1d;

  --yellow-1: #fdfdf8;
  --yellow-2: #fefce9;
  --yellow-3: #fff8d6;
  --yellow-4: #fff4c2;
  --yellow-5: #ffefac;
  --yellow-6: #f9e68d;
  --yellow-7: #f2d96b;
  --yellow-8: #e6c740;
  --yellow-9: #f5d90a;
  --yellow-10: #e6c800;
  --yellow-11: #998200;
  --yellow-12: #524200;

  --orange-1: #fefdfb;
  --orange-2: #fff8f5;
  --orange-3: #fff0e9;
  --orange-4: #ffe6d9;
  --orange-5: #ffd9c6;
  --orange-6: #ffc9b0;
  --orange-7: #ffb592;
  --orange-8: #f99d6a;
  --orange-9: #f76808;
  --orange-10: #e85e00;
  --orange-11: #c54a00;
  --orange-12: #592300;

  --red-1: #fffcfc;
  --red-2: #fff8f8;
  --red-3: #ffefef;
  --red-4: #ffe5e5;
  --red-5: #ffd8d8;
  --red-6: #ffc9c9;
  --red-7: #ffb5b5;
  --red-8: #f99d9d;
  --red-9: #e5484d;
  --red-10: #dc3d43;
  --red-11: #ce2c31;
  --red-12: #5C1F21;
}

.dark, .dark-theme {
  --green-1: #0d120d;
  --green-2: #121a12;
  --green-3: #172517;
  --green-4: #1b2e1b;
  --green-5: #203a20;
  --green-6: #274827;
  --green-7: #305830;
  --green-8: #3c6f3c;
  --green-9: #46a746;
  --green-10: #57b957;
  --green-11: #66c666;
  --green-12: #bDECB6;

  --yellow-1: #12120c;
  --yellow-2: #1a1a0f;
  --yellow-3: #252310;
  --yellow-4: #2e2a12;
  --yellow-5: #3a3416;
  --yellow-6: #48401b;
  --yellow-7: #594f21;
  --yellow-8: #6e6026;
  --yellow-9: #f5d90a;
  --yellow-10: #ffea47;
  --yellow-11: #f0c000;
  --yellow-12: #fff1a8;

  --orange-1: #14100d;
  --orange-2: #1b140f;
  --orange-3: #261a12;
  --orange-4: #301f13;
  --orange-5: #3c2616;
  --orange-6: #4a311a;
  --orange-7: #5c3e20;
  --orange-8: #754f24;
  --orange-9: #f76808;
  --orange-10: #ff802b;
  --orange-11: #ff964f;
  --orange-12: #ffe0cf;

  --red-1: #140d0d;
  --red-2: #1b1212;
  --red-3: #261616;
  --red-4: #301a1a;
  --red-5: #3c2020;
  --red-6: #4a2727;
  --red-7: #5c3030;
  --red-8: #753b3b;
  --red-9: #e5484d;
  --red-10: #f16065;
  --red-11: #ff6369;
  --red-12: #ffc9c9;
}




/* Dark Theme */

.dark, .dark-theme {
  --lime-1: #000;
  --lime-2: #101209;
  --lime-3: #202410;
  --lime-4: #2d3412;
  --lime-5: #394217;
  --lime-6: #46501c;
  --lime-7: #546020;
  --lime-8: #637223;
  --lime-9: #aec923;
  --lime-10: #a4be04;
  --lime-11: #bbd54d;
  --lime-12: #e1f1af;

  --lime-a1: #00000000;
  --lime-a2: #e3ff8012;
  --lime-a3: #e3ff7224;
  --lime-a4: #ddff5934;
  --lime-a5: #ddff5942;
  --lime-a6: #e0ff5a50;
  --lime-a7: #e0ff5560;
  --lime-a8: #deff4f72;
  --lime-a9: #ddff2dc9;
  --lime-a10: #dcff06be;
  --lime-a11: #e0ff5cd5;
  --lime-a12: #eeffb9f1;

  --lime-contrast: #1f240d;
  --lime-surface: #20241280;
  --lime-indicator: #aec923;
  --lime-track: #aec923;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --lime-1: oklch(0% 0.0148 119.3);
      --lime-2: oklch(17.9% 0.0183 119.3);
      --lime-3: oklch(25.2% 0.0354 119.3);
      --lime-4: oklch(31% 0.0538 119.3);
      --lime-5: oklch(36.1% 0.0652 119.3);
      --lime-6: oklch(41.1% 0.0766 119.3);
      --lime-7: oklch(46.5% 0.0892 119.3);
      --lime-8: oklch(52.4% 0.1047 119.3);
      --lime-9: oklch(78.9% 0.1772 119.3);
      --lime-10: oklch(75.5% 0.1772 119.3);
      --lime-11: oklch(82.9% 0.1625 119.3);
      --lime-12: oklch(93.1% 0.087 119.3);

      --lime-a1: color(display-p3 0 0 0 / 0);
      --lime-a2: color(display-p3 0.8863 0.9961 0.5529 / 0.071);
      --lime-a3: color(display-p3 0.9137 0.9961 0.498 / 0.142);
      --lime-a4: color(display-p3 0.8863 1 0.4431 / 0.204);
      --lime-a5: color(display-p3 0.8941 1 0.4392 / 0.259);
      --lime-a6: color(display-p3 0.902 1 0.451 / 0.314);
      --lime-a7: color(display-p3 0.898 1 0.4392 / 0.377);
      --lime-a8: color(display-p3 0.8941 1 0.4235 / 0.448);
      --lime-a9: color(display-p3 0.8941 1 0.3608 / 0.785);
      --lime-a10: color(display-p3 0.8941 1 0.3176 / 0.742);
      --lime-a11: color(display-p3 0.9059 1 0.4667 / 0.832);
      --lime-a12: color(display-p3 0.949 1 0.7569 / 0.942);

      --lime-contrast: #1f240d;
      --lime-surface: color(display-p3 0.1333 0.1412 0.0784 / 0.5);
      --lime-indicator: oklch(78.9% 0.1772 119.3);
      --lime-track: oklch(78.9% 0.1772 119.3);
    }
  }
}

.dark, .dark-theme {
  --gray-1: #000;
  --gray-2: #121315;
  --gray-3: #1f1f22;
  --gray-4: #27282c;
  --gray-5: #2f3035;
  --gray-6: #393a3f;
  --gray-7: #46474e;
  --gray-8: #5e606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #00000000;
  --gray-a2: #dbe7ff15;
  --gray-a3: #e9e9ff22;
  --gray-a4: #e3e8ff2c;
  --gray-a5: #e3e7ff35;
  --gray-a6: #e7ebff3f;
  --gray-a7: #e5e9ff4e;
  --gray-a8: #e3e7ff6a;
  --gray-a9: #e4e8ff79;
  --gray-a10: #e7ebff86;
  --gray-a11: #f0f2ffbd;
  --gray-a12: #fdfdfff0;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(0% 0.0042 277.7);
      --gray-2: oklch(18.5% 0.004 277.7);
      --gray-3: oklch(24% 0.0055 277.7);
      --gray-4: oklch(27.7% 0.0075 277.7);
      --gray-5: oklch(31% 0.0089 277.7);
      --gray-6: oklch(34.8% 0.01 277.7);
      --gray-7: oklch(40% 0.0121 277.7);
      --gray-8: oklch(49.1% 0.0157 277.7);
      --gray-9: oklch(54% 0.0167 277.7);
      --gray-10: oklch(58.6% 0.0165 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 0.851 0.898 0.9961 / 0.083);
      --gray-a3: color(display-p3 0.9098 0.9098 0.9961 / 0.134);
      --gray-a4: color(display-p3 0.8863 0.9098 1 / 0.173);
      --gray-a5: color(display-p3 0.8863 0.9059 1 / 0.208);
      --gray-a6: color(display-p3 0.902 0.9176 1 / 0.248);
      --gray-a7: color(display-p3 0.9098 0.9255 1 / 0.302);
      --gray-a8: color(display-p3 0.898 0.9176 1 / 0.412);
      --gray-a9: color(display-p3 0.902 0.9176 1 / 0.471);
      --gray-a10: color(display-p3 0.9098 0.9255 1 / 0.522);
      --gray-a11: color(display-p3 0.9451 0.9529 1 / 0.738);
      --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.942);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0167 277.7);
      --gray-track: oklch(54% 0.0167 277.7);
    }
  }
}